td {
    max-width: 775px;
    font-size: 13px;
    padding: 17px 22px;
    border: none;
    margin: 0;
}

body {
    font-family: arial, sans-serif;

    padding-bottom: 255px;
}

.floblockchain-text.top {text-align: center;}
.floblockchain-text.top a {display: block; padding: 0; text-align:center;}
.floblockchain-text.top a:visited {text-decoration: none;}
a#top-link:visited {text-decoration: none;}

table#tbl {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
    border: none;
    max-width: 1100px;
}

thead tr {
    font-weight: bold;
}

thead td {
    padding-bottom: 12px;
}

tr.bg {
  background: hsla(111, 64%, 93%, 1);
}

td a {
    color: #000;
    text-decoration: none;
}

td a:visited {
    color: rgb(167, 167, 167);
}

.floblockchain-header {
    text-align: center;
}
div.floblockchain-text {
    text-align: left;
    max-width: 1100px;
}
.floblockchain-header, .floblockchain-text {
    font-family: verdana, sans-serif;
    font-size: 12px;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 9px;
}
.floblockchain-text a {
    color: 000;
}
.floblockchain-text a:visited {
    color: rgb(167, 167, 167);
}

.floblockchain-text a {color: #000;}
.floblockchain-header a, .floblockchain-header a:visited {
    color: #000;
    text-decoration: none;
}

td span {
    cursor: pointer;
}

td.floData {
    word-break: break-all;
    width: 70%;
}

@media only screen and (max-width: 525px) {
    td {
        padding: 10px;
        font-size: 11px;
    }
}
